<!DOCTYPE html>
<html>
  <head>
    <title>Chip In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
  </head>
  <body>
  <div class="col-xs-3"></div>

  <div id="main" class="col-xs-6">

      <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= amount%>"
               aria-valuemin="0" aria-valuemax="100" style="width:<%= amount%>%">
              $<%= raised%>
          </div>
      </div>

      <form action="/charge" method="POST">
          <input>
          <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_qbmOpj6hNdHw1iQgpBCgTTGU"
                  data-name="Chip In..."
                  data-currency="aud"
                  data-amount="2000"
                  data-locale="auto"
                  data-label="Chip In!">
          </script>
      </form>
  </div>

  </body>
</html>
